.moduletable {
width:50%;
margin:0 auto;
}

#kundenbewertung {
cursor:pointer;
display:block;
height:225px;
width:270px;
}

#kundenbewertung.subpage {
background:none;
height:auto;
}

#kundenbewertung>div.kb-head {
display:block;
height:53px;
padding:20px 0 0 17px;
}

#kundenbewertung>div.kb-head span:first-child {
font-size:19px;
font-weight:400;
}

#kundenbewertung>div.kb-head span:last-child {
font-size:20px;
}

#kundenbewertung div.kb-singlestar-small {
display:inline-block;
height:11px;
width:11px;
}

.ie7 #kundenbewertung div.kb-singlestar-small {
display:inline;
}

.ie7 #kundenbewertung .kb-label {
float:left;
}

.ie7 #kundenbewertung .kb-head-left {
display:inline;
float:left;
}

.ie7 #kundenbewertung .kb-head-stars {
margin:4px 15px 0 0;
}

.ie7 #kundenbewertung .kb-sterne {
margin-top:12px;
}

div.kb-head-left {
display:inline-block;
line-height:16px;
text-align:center;
}

div.kb-head-stars {
display:block;
float:right;
margin:4px 24px 0 0;
}

div.kb-head-stars div.kb-singlestar-inner {
background:url(../images/sprite.png) 0 -25px no-repeat;
display:block;
height:20px;
width:21px;
}

div.kb-head-stars div.kb-singlestar:first-child {
margin-left:0;
}

div.kb-head-stars div.kb-singlestar {
background:url(../images/sprite.png) -21px -25px no-repeat;
display:inline-block;
height:20px;
margin-left:6px;
width:21px;
}

.sliderhead {
color:#000!important;
font-weight:400!important;
text-shadow:0 0 0!important;
font-size:190%!important;
}

.bd-button {
background:url(../images/bd-button.png) no-repeat!important;
color:#fff!important;
display:inline-block!important;
font:15px/47px ralewaybold!important;
height:47px!important;
position:relative!important;
text-align:center!important;
text-transform:uppercase!important;
width:180px!important;
}

.bd-button:hover {
background:url(../images/bd-button1.png) no-repeat rgba(0,0,0,0)!important;
}

.bd-button span.hover {
background:url(../images/bd-button.png) 0 -47px no-repeat!important;
cursor:pointer!important;
display:block!important;
height:47px!important;
position:absolute!important;
right:0!important;
top:0!important;
width:180px!important;
}

.bd-button span.hover:active,.bd-button span.hover:focus {
background-position:right bottom!important;
}

.bd-button:active,.bd-button:hover,.bd-button:visited {
color:#fff!important;
}

.big-bd-button {
background:url(../../../images/big-bd-button.png) no-repeat;
color:#fff;
display:inline-block;
font:15px/47px ralewaybold;
height:47px;
position:relative;
text-align:center;
text-transform:uppercase;
width:224px;
}

.big-bd-button span.hover {
background:url(../../../images/big-bd-button.png) 0 -47px no-repeat;
cursor:pointer;
display:block;
height:47px;
position:absolute;
right:0;
top:0;
width:224px;
}

.bd-button-work {
background:url(../../../images/bd-button-work.png) no-repeat;
color:#000;
display:inline-block;
font:15px/53px ralewaybold;
height:53px;
position:relative;
text-align:center;
text-transform:uppercase;
width:203px;
}

.bd-button-work span.hover {
background:url(../../../images/bd-button-work.png) 0 -53px no-repeat;
cursor:pointer;
display:block;
height:53px;
line-height:53px;
position:absolute;
right:0;
top:0;
width:203px;
}

.bd-button-work:visited {
color:#000;
}

@font-face {
font-family:Pacifico;
src:url(../fonts/Pacifico.ttf);
}

#contact .contact-wrap .contact-content {
position:relative;
text-align:center;
}

#contact .contact-wrap .contact-content h1 {
font:80px/80px pacificoregular;
color:#f1c40f;
text-transform:capitalize;
position:relative;
margin:0 0 25px;
}

#contact .contact-wrap .contact-content .desc {
font:35px/40px ralewaybold;
position:relative;
}

#contact .contact-wrap .contact-content #start-a-project,#contact .contact-wrap .contact-content .img.business {
cursor:pointer;
}

#contact .contact-wrap .contact-content ul {
text-align:center;
width:100%;
font-size:0;
margin:20px 0 0;
padding:0;
}

#contact .contact-wrap .contact-content ul .contact-item {
width:300px;
display:inline-block;
vertical-align:top;
list-style:none;
zoom:1;
margin:0 10px 20px;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-image {
width:100%;
padding-bottom:20px;
text-align:center;
margin-bottom:20px;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-image .img {
display:block;
height:64px;
width:100%;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-image .img.shake {
background:url(../../../images/contact/shake.png) center bottom no-repeat;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-image .img.business {
background:url(../../../images/contact/business.png) center bottom no-repeat;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-image .img.employment {
background:url(../../../images/contact/employment.png) center bottom no-repeat;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-text {
font-family:robotolight;
font-size:1.4rem;
line-height:2.1rem;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-text .tit {
font:19px/19px ralewaysemibold;
margin-bottom:7px;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-text p {
font:14px/19px ralewaysemibold;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-text a {
color:#fccd10;
text-decoration:none;
}

#contact .contact-wrap .contact-content ul .contact-item .contact-text a:hover {
text-decoration:underline;
}

#contact .contact-wrap .contact-content #show-contact-form {
width:190px;
font:19px/19px ralewaysemibold;
color:#fff;
text-decoration:none;
text-align:center;
display:inline-block;
margin-top:55px;
background:url(../../../images/contact/contact-us.png) no-repeat bottom;
zoom:1;
padding:0 0 30px;
}

#contact .contact-wrap .contact-content #contact-form {
color:#f1c40f;
width:480px;
display:inline-block;
position:relative;
z-index:0;
top:10px;
margin:10px auto 0;
}

#contact .contact-wrap .contact-content #contact-form div.fl_left {
float:left;
width:235px;
}

#contact .contact-wrap .contact-content #contact-form div.fl_right {
float:right;
width:235px;
}

#contact .contact-wrap .contact-content #contact-form div input {
font:13px/13px ralewaybold;
background:0 0;
border:2px solid #FFF;
width:219px;
color:#FFF;
border-radius:3px;
height:23px;
margin:0 0 20px;
padding:11px 6px;
}

#contact .contact-wrap .contact-content #contact-form div input#conactSubmit {
height:45px;
}

#contact .contact-wrap .contact-content #contact-form div textarea {
font:13px/13px ralewaybold;
background:0 0;
border:2px solid #FFF;
width:201px;
color:#FFF;
height:153px;
border-radius:3px;
resize:none;
padding:15px;
}

#contact .contact-wrap .contact-content #contact-form .submit_btn {
float:left;
width:100%;
clear:both;
}

#contact .contact-wrap .contact-content #contact-form span.wpcf7-not-valid-tip {
text-align:left;
font:12px/12px ralewaybold;
position:absolute;
bottom:5px;
}

.forkit {
position:fixed;
right:-30px;
top:0;
z-index:99998;
width:190px;
height:70px;
font-family:Lato,sans-serif;
text-decoration:none;
}

.forkit .tag {
display:block;
cursor:pointer;
color:#000;
background:#f68033;
text-align:center;
font-size:12px;
font-weight:700;
line-height:25px;
box-shadow:0 0 10px rgba(0,0,0,.4);
-webkit-transform-origin:15px 0;
transform-origin:15px 0;
text-transform:uppercase;
}

.forkit .tag:after {
content:'';
display:block;
position:absolute;
top:0;
left:0;
height:19px;
width:184px;
border:1px dotted #0053a2;
margin:2px;
}

.forkit .string {
display:block;
height:1px;
width:0;
position:absolute;
background:rgba(255,255,255,.7);
box-shadow:0 0 10px rgba(0,0,0,.4);
-webkit-transform-origin:0 0;
transform-origin:0 0;
}

#request_form {
background:#000;
bottom:0;
display:none;
height:100%;
left:0;
opacity:.96;
overflow-y:0;
position:fixed;
right:0;
top:0;
width:100%;
z-index:39999;
}

#request_form .close-button {
position:absolute;
width:32px;
height:32px;
right:10px;
top:10px;
cursor:pointer;
}

#request_form .close-button .fa {
    color: #73c6f6;
    font-size: 16px;
    font-family: sans-serif;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

#request_form .title {
font:44px/44px Pacifico;
color:#fff;
margin-bottom:25px;
text-align:center;
}

#request_form .title span {
color:#f68033;
}

.form-wrap {
width:564px;
height:325px;
position:absolute;
top: 30%;
left:50%;
margin:-150px auto 0 -282px;
}

.form-wrap .wpcf7-form .input-wrap {
float:left;
width:275px;
margin-bottom:7px;
}

.form-wrap .wpcf7-form .input-wrap.odd {
float:right;
}

.form-wrap .wpcf7-form .input-wrap input {
background:0 0;
width:80%;
font:13px/13px ralewaybold;
color:#f1c40f;
border:2px solid #fff;
border-radius:3px;
padding:15px 3% 15px 17%;
}

.form-wrap .wpcf7-form .input-wrap input#name {
background:url(../images/name.png) 10px center no-repeat;
}

.form-wrap .wpcf7-form .input-wrap input#phone {
background:url(../images/phone.png) 10px center no-repeat;
}

.form-wrap .wpcf7-form .input-wrap input#email {
background:url(../images/email.png) 10px center no-repeat;
}

.form-wrap .wpcf7-form .input-wrap input#country {
background:url(../images/country.png) 10px center no-repeat;
}

.form-wrap .wpcf7-form .textarea-wrap {
float:left;
width:94%;
margin-bottom:15px;
}

.form-wrap .wpcf7-form .textarea-wrap textarea {
background:0 0;
width:96%;
font:13px/16px ralewaybold;
border:2px solid #fff;
resize:none;
border-radius:3px;
height:50px;
color:#00a8ff;
padding:2%;
}

.form-wrap .wpcf7-form #file {
font:13px/16px ralewaybold;
}

.form-wrap .wpcf7-form .submit-wrap {
float:left;
width:100%;
}

.form-wrap .wpcf7-form .submit-wrap #quote-submit {
font:14px/14px ralewaybold;
background:#f68033;
color:#000;
border-radius:3px;
border:0;
padding:10px 15px;
}

.form-wrap .wpcf7-form span.wpcf7-not-valid-tip {
text-align:left;
font:12px/12px ralewaybold;
bottom:5px;
right:0;
position:absolute;
}

.form-wrap .wpcf7-form div.wpcf7-mail-sent-ok {
border:2px solid #398f14;
width:96%;
float:left;
border-radius:3px;
margin:12px 0 0;
padding:2%;
}

#m-nav,#m-nav-close {
display:none;
}

.big-bd-button:active,.big-bd-button:hover,.big-bd-button:visited,.bd-button-work:active,.bd-button-work:hover {
color:#fff;
}

.big-bd-button span.hover:active,.big-bd-button span.hover:focus,.bd-button-work span.hover:active,.bd-button-work span.hover:focus {
background-position:right bottom;
}

#contact .contact-wrap,.form-wrap .wpcf7-form span.wpcf7-form-control-wrap {
width:100%;
}

#contact .contact-wrap .contact-content #contact-form div.wpcf7-response-output,#contact .contact-wrap .contact-content #contact-form div.wpcf7-validation-errors,.form-wrap .wpcf7-form .wpcf7-response-output,.form-wrap .wpcf7-form div.wpcf7-validation-errors {
clear:both;
font:12px/12px ralewaybold;
}

::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {
color:#00a8ff;
}

@media only screen and max-width1600px{
#team li {
width:25%;
}

#pt-main .pt-page.pt-page-2 .item-text-wrap,#pt-main .pt-page.pt-page-3 .item-text-wrap,#pt-main .pt-page.pt-page-4 .item-text-wrap,#pt-main .pt-page.pt-page-5 .item-text-wrap {
top:20%!important;
}

#pt-main .pt-page.pt-page-2 .item-text-wrap,#pt-main .pt-page.pt-page-3 .item-text-wrap,#pt-main .pt-page.pt-page-4 .item-text-wrap,#pt-main .pt-page.pt-page-5 .item-text-wrap,#pt-main .pt-page.pt-page-6 .item-text-wrap {
top:20%;
font:40px ralewaybold;
}

#pt-main .pt-page.pt-page-2 .item-text-wrap span,#pt-main .pt-page.pt-page-3 .item-text-wrap span,#pt-main .pt-page.pt-page-4 .item-text-wrap span,#pt-main .pt-page.pt-page-5 .item-text-wrap span,#pt-main .pt-page.pt-page-6 .item-text-wrap span {
font-size:40px;
}

#pt-main .pt-page.pt-page-6 .crbl-wrap .crbl {
border-radius:65px;
width:130px;
height:130px;
position:relative;
margin:10px 15px;
}
}

@media only screen and max-width1380px{
#pt-main .pt-page.pt-page-2 .item-text-wrap,#pt-main .pt-page.pt-page-3 .item-text-wrap,#pt-main .pt-page.pt-page-4 .item-text-wrap,#pt-main .pt-page.pt-page-5 .item-text-wrap {
top:20%!important;
}

#pt-main .pt-page.pt-page-2 .item-text-wrap,#pt-main .pt-page.pt-page-3 .item-text-wrap,#pt-main .pt-page.pt-page-4 .item-text-wrap,#pt-main .pt-page.pt-page-5 .item-text-wrap,#pt-main .pt-page.pt-page-6 .item-text-wrap {
font:35px ralewaybold;
}

#pt-main .pt-page.pt-page-2 .item-text-wrap span,#pt-main .pt-page.pt-page-3 .item-text-wrap span,#pt-main .pt-page.pt-page-4 .item-text-wrap span,#pt-main .pt-page.pt-page-5 .item-text-wrap span,#pt-main .pt-page.pt-page-6 .item-text-wrap span {
font-size:35px;
}

#pt-main .pt-page.pt-page-6 .crbl-wrap .crbl {
border-radius:50px;
width:100px;
height:100px;
position:relative;
margin:5px 10px;
}
}

@media only screen and max-width1280px{
#single-work #work-images .work-image .wrap {
background-position-y:-42px;
width:600px;
}

#single-work #work-images .work-responsive .wrap {
width:600px;
}
}

@media only screen and max-width1024px{
#header .header #nav {
background:#f1c40f;
height:100%;
opacity:0;
display:none;
overflow:hidden;
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
width:100%;
z-index:99999;
float:none;
margin:0;
padding:0;
}

#header .header #nav #menu-main {
display:table-cell;
vertical-align:middle;
}

#header .header #nav #menu-main li {
float:none;
width:100%;
text-align:center;
}

#header .header #nav #menu-main li:first-child>a {
display:none;
}

#header .header #nav #menu-main li a {
font:30px/50px ralewaylight;
color:#000!important;
text-shadow:none;
height:auto;
margin:0;
padding:0;
}

#header .header #nav #menu-main li a:hover {
background:0 0;
color:#000!important;
text-shadow:none;
}

#header .header #nav #menu-main li ul {
background:0 0;
width:100%;
float:none;
position:inherit;
top:inherit;
left:inherit;
opacity:1;
padding:0!important;
}

#header .header #nav #menu-main li ul li {
background:0 0;
margin:0;
padding:0;
}

#header .header #nav #m-nav-close {
display:block;
position:absolute;
width:32px;
height:32px;
right:10px;
top:10px;
cursor:pointer;
color:#fff;
font-size:35px;
}

#header.portfolio {
padding-top:10px;
padding-bottom:20px;
}

#home-slider-wrap .item .item-text-wrap .title {
font:72px/72px pacificoregular;
}

#home-slider-wrap .item .item-text-wrap .text {
font:18px/24px ralewaymedium;
padding-left:20px;
margin:10px 0 20px;
}

#single-work,#works-wrap {
padding:79px 0 0;
}

#works-wrap #works .work {
width:33.3333%;
}

#team li {
width:33.33%;
}

#header .header #m-nav,#header .header #nav #menu-main li ul li:first-child>a {
display:block;
}
}

@media only screen and max-width960px{
#contact .contact-wrap .contact-content ul .contact-item {
width:200px;
}
}

@media only screen and max-width768px{
#single-work #desc p {
display:inline;
}

#single-work #work-images .work-image {
margin-bottom:20px;
}

#single-work #work-images .work-image .wrap {
background-position-y:-82px;
width:400px;
}

#single-work #work-images .work-responsive {
margin-bottom:20px;
background-size:100% 55%;
}

#single-work #work-images .work-responsive .wrap {
width:400px;
}

#single-work #work-images .work-responsive .wrap .title {
font:28px/28px ralewaybold;
margin-bottom:20px;
}

#contact .contact-wrap .contact-content h1 {
font:50px/50px pacificoregular;
margin-top:20px;
}

#contact .contact-wrap .contact-content .desc {
font:16px/20px ralewaybold;
}

#team li {
width:50%;
}
}

@media only screen and max-width640px{
#header {
padding-top:10px;
}

#header .quote {
margin-bottom:10px;
}

#header .header #nav {
height:100%;
}

#header.portfolio {
padding-top:10px;
padding-bottom:25px;
}

#single-work,#works-wrap {
padding:74px 0 0;
}

#single-work .work-header.parallax {
background-position:center!important;
}

#single-work #work-images {
padding:30px 0;
}

#single-work #work-images .work-image {
margin-bottom:10px;
visibility:visible!important;
}

#single-work #work-images .work-image .wrap {
background:0 0;
width:80%;
padding:0;
}

#single-work #work-images .work-responsive {
margin-bottom:20px;
background-size:100% 55%;
visibility:visible!important;
}

#single-work #work-images .work-responsive .wrap {
width:200px;
}

#single-work #work-images .work-responsive .wrap .title {
font:18px/18px ralewaybold;
margin-top:10px;
margin-bottom:10px;
}

#home-slider-wrap .item .item-text-wrap .title {
font:32px/32px pacificoregular;
}

#home-slider-wrap .item .item-text-wrap .text {
font:18px/22px ralewaymedium;
padding-left:0;
margin:10px 0 20px;
}

#home-slider-wrap .item .bd-button {
margin:0 15px 10px;
}

#home-slider-wrap .item .bd-button.project {
position:absolute;
bottom:17%;
left:50%;
margin:0 0 0 -90px;
}

#pt-main .pt-page.pt-page-2 .item,#pt-main .pt-page.pt-page-3 .item,#pt-main .pt-page.pt-page-4 .item,#pt-main .pt-page.pt-page-5 .item,#pt-main .pt-page.pt-page-6 .item {
background-attachment:inherit!important;
}

#pt-main .pt-page.pt-page-2 .item .item-text-wrap,#pt-main .pt-page.pt-page-3 .item .item-text-wrap,#pt-main .pt-page.pt-page-4 .item .item-text-wrap,#pt-main .pt-page.pt-page-5 .item .item-text-wrap,#pt-main .pt-page.pt-page-6 .item .item-text-wrap {
font:26px ralewaybold;
}

#pt-main .pt-page.pt-page-2 .item .item-text-wrap span,#pt-main .pt-page.pt-page-3 .item .item-text-wrap span,#pt-main .pt-page.pt-page-4 .item .item-text-wrap span,#pt-main .pt-page.pt-page-5 .item .item-text-wrap span,#pt-main .pt-page.pt-page-6 .item .item-text-wrap span {
font:26px;
}

#pt-main .pt-page.pt-page-5 .item-text-wrap .item-h {
height:180px;
}

#pt-main .pt-page.pt-page-6 .crbl-wrap .crbl {
border-radius:40px;
width:80px;
height:80px;
margin:5px 10px;
}

#service .service-item {
background-attachment:initial!important;
}

#service .service-item.parallax {
background-position:center bottom!important;
}

#service .service-item .service-item-text .title {
font:34px/34px pacificoregular;
margin-bottom:20px;
}

#service .service-item .service-item-text .text {
font:14px/18px ralewaymedium;
padding-left:0;
margin:10px 0 20px;
}

#team-wrap h1 {
font:50px/50px pacificoregular;
margin-bottom:10px;
}

#team-wrap p {
font:21px/21px ralewaymedium;
margin:0;
}

#team-wrap .team-member .desc {
font-size:19px;
line-height:19px;
}

#team-wrap .team-member .desc .title {
font-size:28px;
line-height:28px;
margin-bottom:5px;
}

#request_form .title {
font:24px/24px pacificoregular;
color:#fff;
margin-bottom:15px;
}

#request_form .title span {
color:#f1c40f;
}

.form-wrap {
width:300px;
height:340px;
position:absolute;
top:45px;
left:50%;
margin:0 auto 0 -150px;
}

.form-wrap .wpcf7-form .input-wrap {
width:100%;
margin-bottom:10px;
padding:0;
}

.form-wrap .wpcf7-form .input-wrap input {
background:0 0;
height:12px;
}

.form-wrap .wpcf7-form .textarea-wrap {
margin-bottom:10px;
width:100%;
padding:0;
}

.form-wrap .wpcf7-form .textarea-wrap textarea {
background:0 0;
}

.form-wrap .wpcf7-form .submit-wrap {
width:100%;
padding:0;
}

#contact {
width:100%;
background:url(../../../images/contact/contact-bg.jpg) center bottom/cover no-repeat fixed;
position:relative;
padding:25% 0;
}

#contact .contact-wrap .contact-content {
position:relative;
text-align:center;
}

#contact .contact-wrap .contact-content h1 {
font:32px/32px pacificoregular;
color:#f1c40f;
text-transform:capitalize;
margin:0 0 20px;
}

#contact .contact-wrap .contact-content .desc {
font:20px/30px ralewaybold;
}

#contact .contact-wrap .contact-content ul .contact-item {
width:300px;
}

#contact .contact-wrap .contact-content #contact-form {
color:#f1c40f;
width:250px;
}

#contact .contact-wrap .contact-content #contact-form div.fl_left {
float:left;
width:250px;
}

#contact .contact-wrap .contact-content #contact-form div.fl_right {
float:right;
width:250px;
}

#contact .contact-wrap .contact-content #contact-form div input {
width:234px;
margin:0 0 10px;
}

#contact .contact-wrap .contact-content #contact-form div textarea {
width:234px;
margin:0 0 10px;
padding:11px 6px;
}

#footer {
padding:40px 0;
}

#footer .bg-header {
font:14px/20px ralewaymedium;
width:96%;
padding:0 2%;
}

#footer .bd-footer .sep {
display:inline;
}

#header .header,#header.portfolio .header {
margin-bottom:5px;
}

#header .header #logo,#header.portfolio .header #logo {
width:160px;
top:0;
}

#header .header #rq,#header.portfolio .header #rq {
background:url(../../../images/rq-m.png) no-repeat;
width:79px;
}

#works-wrap #works .work,#team li,.form-wrap .wpcf7-form div.wpcf7-mail-sent-ok,#contact .contact-wrap,#vids ul li {
width:100%;
}

.bx-controls-direction,.form-wrap .wpcf7-form #file,#footer #footer-nav {
display:none;
}

#pt-main .pt-page.pt-page-2 .item-text-wrap .item-h,#pt-main .pt-page.pt-page-3 .item-text-wrap .item-h,#pt-main .pt-page.pt-page-4 .item-text-wrap .item-h {
height:100px;
}

#pt-main .pt-page.pt-page-2 img,#pt-main .pt-page.pt-page-3 img,#pt-main .pt-page.pt-page-4 img,#pt-main .pt-page.pt-page-5 img {
width:280px;
}
}

@media only screen and max-width640px and orientationportrait{
#header .header {
margin-bottom:5px;
}

#header .header #nav {
height:100%;
}
}

@media only screen and max-width320px and orientationlandscape{
#header .header {
margin-bottom:5px;
}

#header .header #nav {
height:100%;
overflow-x:auto;
}
}
