
<!DOCTYPE html>
<html class="no-js"  ng-app="myPortfolio">
	<head>
	  <meta charset="utf-8">
		<title>Hitesh Songra - Ruby on Rails Developer</title>
    <meta NAME="description" CONTENT="Hire me! if you found me to best fit of your requirement, willing to relocate abroad and ready to adopt the challenging assignment." />
  	<meta NAME="keywords" CONTENT="ruby, rails, git, github.io, apache, nginx, songra, hitesh, developer, sofware" />
  	<meta NAME="robot" CONTENT="index,follow" />
  	<meta NAME="copyright" CONTENT="open source" />
	  <meta NAME="author" CONTENT="Hitesh Songra" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
	  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	  <link href="css/owl-carousel/owl.carousel.css" rel="stylesheet"  media="all">
		<link href="css/owl-carousel/owl.theme.css" rel="stylesheet"  media="all">
		<link href="css/magnific-popup.css" type="text/css" rel="stylesheet" media="all" />
		<link href="css/font.css" rel="stylesheet" type="text/css"  media="all">
		<link href="css/fontello.css" rel="stylesheet" type="text/css"  media="all">
		<link href="css/base.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="css/main.css"  rel="stylesheet" type="text/css" media="all"/>
		<link href="css/styles/switcher.css"  rel="stylesheet" type="text/css"/>
  </head>
  
  <body>
		<!-- Preloader -->
		<!-- <div id="loader">
		  <div id="loaderInner">
			<div class="spinner"></div>
		  </div>
		</div> -->
		<!-- End preloader-->

		<!--Wrapper-->
		<div id="wrapper" class="margLTop  margLBottom">
	
			<!--Container-->
			<div class="container">
				<div class="row ">
					<!--Left content-->
					<div class="col-md-3 nopr left-content">
						<!--Header-->
						<header id="header">
							<!--Main header-->
							<div class="main-header">
								<!--Profile image-->
								<figure class="img-profile">
									<img src="img/profile.jpg" alt=""/>
									<figcaption class="name-profile">
										<span>Hitesh Songra<sup>&reg;</sup></span>
									</figcaption>
								</figure>
								<!--End profile image-->
								<!--Main navigation-->
								<nav id="main-nav" class="main-nav clearfix tabbed">
									<ul>
										<li ><a href="#about"><i class="icon-user"></i>About</a></li>
										<li><a  href="#portfolio"><i class="icon-suitcase"></i>Portfolio</a></li>
										<li><a  href="#gallary"><i class="icon-picture"></i>gallary</a></li>
										<li><a  href="#reward"><i class="icon-trophy"></i>Honors & Awards</a></li>
										<li><a  href="#contact"><i class="icon-phone"></i>Contact</a></li>
									</ul>
								</nav>
								<!--End main navigation-->
							</div>
							<!--End main header-->
							<div ng-controller="socialsitesCtlr" class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
								<ul class="social">
									<li ng-repeat="site in sites">
										<a title="{{site.title}}" href="{{site.url}}" target="blank">	<i class="{{site.icon}}"></i>
										</a>
									</li>
								</ul>
							</div>
							<br>
								<a href="https://stackoverflow.com/users/3458314/hgsongra" target="blank">
									<img src="https://stackoverflow.com/users/flair/3458314.png?theme=dark" width="208" height="58" alt="profile for hgsongra at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Profile of Hitesh Songra at Stack Overflow community">
								</a>
							<br>
							<br>
							<a target="blank" title="Hitesh Songra's food journey on Zomato!" href="https://www.zomato.com/hgsongra"><img alt="View my food journey on Zomato!" src="https://www.zomato.com/widgets/user_widget_img.php?user_id=33958521"></a>
							<br><br>
						</header>
						<!--End  header-->
					</div>
					<!--End left content-->
		
					<!--Right content-->
					<div class="col-md-9 right-content">
						<!--About Tab-->
						<section id="about" class="bgWhite ofsInBottom">
							<!--About -->
							<div class="about">
							
								<!--Main title-->
								<div class="main-title">
									<h1>who am i</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->
								
								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content margBSmall">
										<div class=" profile margBSmall">
		                	<h1>Hitesh Songra</h1>
		                  <h3>Ruby on Rails Developer</h3>
		                </div>

										<!--Row-->	
										<div class="row">
											<div class="col-md-6">
												<p>I am Ruby on Rails Developer since February-2014. I started my career as Trainee Ruby on Rails developer at Space-O Technologies, After completing training, I worked with Space-O as Jr. Ruby on Rails Developer for 1 year 7 months. Currently I am working with Bacancy Technology as Sr. Software Engineer(ROR) since January-2016.</p>
											</div>
											
											<div class="col-md-6">
												<p>I am dedicated towards work and passionate to adopt new technologies. I don't have mastery in any skill set, But I have positive attitude to achive goal. Quick and good learner. Ability to collaborate with the team and supervise to achieve organization goals. </p>
											</div>
										</div>
										<!--End row-->	
									</div>
									<!--End block content-->	
									
									<!--Block content-->	
									<div class="block-content">
										<div class="info">
											<!--Row-->	
											<div class="row">
												<div class="col-md-6">
													<ul class="info-list clearfix">
														<li><span class="inf">Name </span>  <span class="value">Hitesh Songra</span></li>
														<li><span class="inf">Date of birth</span>  <span class="value"> June 15, 1991 </span></li>
														<li><span class="inf">Address</span>  <span class="value"> Ahmedabad, Gujarat</span></li>
													</ul>
												</div>

												<div class="col-md-6">
													<ul class="info-list">
														<li><span class="inf">Email</span>  <span class="value">hgsongra@gmail.com</span></li>
														<li><span class="inf">Phone</span>  <span class="value"> (+91)9033231399	</span></li>
														<li><span class="inf">Skype</span>  <span class="value">hgsongra</span></li>
													</ul>
												</div>
											</div>
											<!--End row-->
	                  </div>
		              </div>
									<!--End block content-->
								</div>
								<!--End content-->
								
								<!--Main title-->
								<div class="main-title">
									<h1>professional skills</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->
								
								<!--Content-->	
								<div class="content" ng-controller="skillsCtlr">

									<!--Block content-->	
									<div class="block-content margBMedium">
										<!--Skill programming-->
										<div class=" skill des">
		                  <!--Row-->	
											<div class="row ">
												<div class="vc">
													<div class="col-md-11">	
														<div class="round-prog col-md-3" ng-repeat="prog in programming">
															<div class="round-progress ng-cloak" ng-style="getStyle()">
																<h5>{{prog.name}}</h5> 
																<center><h5>{{prog.rate}}</h5></center>
															</div>
															<round-progress
												    		max="100"
												    		current="prog.rate"
												    		color="#7369b9"
												    		bgcolor="#eaeaea"
												    		radius="85"
												    		stroke="5"
												    		semi="false"
												    		rounded="false"
												    		clockwise="true"
												    		responsive="false"
												    		duration="5500"
												    		animation="easeInOutQuart"
												    		animation-delay="1000">
												    	</round-progress>
														</div>
													</div>
													<div class="col-md-1">
														<div class="title des">
															<span>programming </span>
														</div>
													</div>
												</div>
											</div>
											<!--End row-->
		                </div>
										<!--End skill programming-->
									</div>
									<!--End block content-->	
									
									<!--Block content-->	
									<div class="block-content margBMedium">
										<!--Skill design-->
										<div class=" skill dev">
			                <!--Row-->	
											<div class="row">
												<div class="vc">
													<div class="col-md-11">
														<div class="round-prog col-md-3" ng-repeat="fw in frameworks">
															<div class="round-progress ng-cloak" ng-style="getStyle()">
																<h5>{{fw.name}}</h5> 
																<center><h5>{{fw.rate}}</h5></center>
															</div>
															<round-progress
												    		max="100"
												    		current="fw.rate"
												    		color="#cd5353"
												    		bgcolor="#eaeaea"
												    		radius="85"
												    		stroke="5"
												    		semi="false"
												    		rounded="false"
												    		clockwise="true"
												    		responsive="false"
												    		duration="7500"
												    		animation="easeInOutQuart"
												    		animation-delay="1000">
												    	</round-progress>
														</div>
													</div>
													<div class="col-md-1">
														<div class="title dev">
															<span>frameworks </span>
														</div>
													</div>
												</div>
											</div>
											<!--End row-->
			              </div>
										<!--End skill design-->
									</div>
									<!--End block content-->


									<!--Block content-->	
									<div class="block-content">
										<!--Skill design-->
										<div class=" skill prs">
				              <!--Row-->	
											<div class="row ">
												<div class="vc">
													<div class="col-md-11">
														<div class="round-prog col-md-3" ng-repeat="tls in tools">
															<div class="round-progress ng-cloak" ng-style="getStyle()">
																<h5>{{tls.name}}</h5> 
																<center><h5>{{tls.rate}}</h5></center>
															</div>
															<round-progress
												    		max="100"
												    		current="tls.rate"
												    		color="#33373d"
												    		bgcolor="#eaeaea"
												    		radius="85"
												    		stroke="5"
												    		semi="false"
												    		rounded="false"
												    		clockwise="true"
												    		responsive="false"
												    		duration="9500"
												    		animation="easeInOutQuart"
												    		animation-delay="1000">
												    	</round-progress>
														</div>
													</div>
													<div class="col-md-1">
														<div class="title prs">
															<span> &nbsp;&nbsp;tools&nbsp;&nbsp; </span>
														</div>
													</div>
												</div>
											</div>
											<!--End row-->
				            </div>
										<!--End skill design-->
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
								
								<!--Main title-->
								<div class="main-title">
									<h1>experience</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->
									
								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content ">
										<!--Timeline-->
										<div class="timeline experience">
			                <!--Row-->	
											<div class="row ">
												<div class="col-md-12">
													<!--Experience holder-->	
													<div class="exp-holder margTop">
														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>Sr. Software Engineer(ROR) – Bacancy Technology </h4>
																<h6><i class="icon-calendar"></i>January 2016 - <span class="current">Current</span></h6>
															</div>
															<p>Roles and responsibility</p>
															<p>
																- Requirement Analysis <br>
																- Estimate requirements <br>
																- Client Communication in different time zones <br>
																- Milestones generation <br>
																- Partially included in interview process
															</p>
														</div>
														<!--End experience-->
								
														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>Jr. Ruby on Rails Developer – Space-O Infoweb Pvt Ltd </h4>
																<h6><i class="icon-calendar"></i>June 2014 - December 2015</h6>
															</div>
															<p>Roles and responsibility</p>
															<p>
																- Analysis of client requirement. <br>
																- Estimate the Time and Design the Database. <br>
																- Develop Website, CMS and Mobile API's. <br>
																- Unit Testing. <br>
																- Deploy Project to Live server (AWS,Linode,Heroku,etc.)
															</p>
														</div>
														<!--End experience-->

														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>Trainee Ruby on Rails Developer – Space-O Infoweb Pvt Ltd </h4>
																<h6><i class="icon-calendar"></i>February 2014 - May 2014</h6>
															</div>
															<p>I was join Space-O as trainee Ruby on Rails developer, I learned the basic fundamentls of ruby, rails, and server configurations.</p>
														</div>
														<!--End experience-->
													</div>
													<!--End experience holder-->
												</div>
											</div>
											<!--End row-->
			              </div>
										<!--End timeline-->
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
								
								<!--Main title-->
								<div class="main-title">
									<h1>education</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->

								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content">
										<!--Timeline-->
										<div class="timeline education">
				              <!--Row-->	
											<div class="row ">
												<div class="col-md-12">
													<!--Experience holder-->	
													<div class="exp-holder margTop">
														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>Master of Computer Applications (MCA) – GTU, Ahmedabad, Gujarat</h4>
																<h6><i class="icon-calendar"></i>June 2011 - June 2014</h6>
															</div>
															<p>I have completed post graduation degree in MCA from Shri Jairambhai Patel Institute of Business Management and Computer Applications(Formerly known as National Institute of Cooperative Management), Gandhinagar with <strong>7.52 CGPA</strong> in June 2014.</p>
														</div>
														<!--End experience-->

														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>Bachelor of Computer Application(BCA) - HNGU, Patan, Gujarat</h4>
																<h6><i class="icon-calendar"></i>June 2008 - March 2011</h6>
															</div>
															<p>I have completed graduation degree in BCA from Narsinhbhai Patel College OF Computer Studies And Management, KADI with <strong>68.83%</strong> in March 2011.</p>													
														</div>
														<!--End experience-->

														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>HSC (Commerce) – GSEB, Gujarat </h4>
																<h6><i class="icon-calendar"></i>June 2006 - March 2008</h6>
															</div>
															<p>I have completed 12<sup>th</sup> commerce from V M Mehta High School, Halvad with <strong>62.71%</strong> in March 2008. </p>	
														</div>
														<!--End experience-->

														<!--Experience-->
														<div class="exp">
															<div class="hgroup" >
																<h4>SSC – GSEB, Gujarat </h4>
																<h6><i class="icon-calendar"></i>March 2006</h6>
															</div>
															<p>I have completed 10<sup>th</sup> from Rojodharji High School, Halvad with <strong>57.29%</strong> in March 2006. </p>	
														</div>
														<!--End experience-->
													</div>
													<!--End experience holder-->
												</div>
											</div>
											<!--End row-->
				            </div>
										<!--End timeline-->
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
							
								<!--Main title-->
								<div class="main-title">
									<h1>testimonials</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->
							
								<!--Content-->	
								<div class="content" ng-controller="testimonialCtlr">
									<!--Block content-->	
									<div class="block-content ">
										<!--Testimonilas-->
										<div class="testimonials">
			                <!--Row-->	
											<div class="row">
												<div class="col-md-12">
													<!--Slider-->
													<div class="testi clearfix ">
														<ul id="testimonial-carousel">
															
															<li ng-repeat="feedback in testimonials">
																<div class="block-quote">
																	<div class="block-img"><img alt="" ng-src="img/testimonial/{{feedback.pic}}"></div>
																	<div class="block-icon"><i class="icon-quote"></i></div>
																	<h3 class="block-profile">{{feedback.name}} <span> {{feedback.designation}} / {{feedback.company}}</span></h3>
																	<blockquote>{{feedback.review}}</blockquote>
																</div>
															</li>

														</ul>	
													</div>
													<!--End  slider-->
												</div>
											</div>
											<!--End row-->
				            </div>
										<!--End testimonials-->
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
								
								<!--Button-->
								<div class="button margTop ofsInTop tCenter">
									<div class="divider"></div>
			              <!--Row-->	
										<div class="row ">
											<div class="col-md-12">
												<a class="but opc-1 ico" href="resume/Hitesh-Songra-2016-resume.pdf" download>Download my cv</a>
											</div>
										</div>
										<!--End row-->
								</div>
								<!--End button-->
							</div>
							<!--End about-->
						</section>
						<!--End about tab-->
						
				
						<!--Portfolio Tab-->
						<section id="portfolio" class="bgWhite ofsInBottom">
							<!--Portfolio -->
							<div class="portfolio">
								<!--Main title-->
								<div class="main-title">
									<h1>my works</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->

								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content ">
										<!--Works-->
										<div class="works" ng-controller="projectsCtrl">
											<!--Row-->	
											<div class="row" style="margin: -14px;">
												<ul class="work">
													<li class="col-md-4 " ng-repeat="project in projects">
														<!--Item-->	
														<div class="item web">
															<a href="#" data-toggle="modal" data-target="#{{project.keyword}}">
																<div class="desc">
																	<h3 class="proj-desc">
																		#{{$index+1}}<br>
																		{{project.name}}<br><br>
																		<span>{{project.category}}</span>
																	</h3>
																</div>
																<img alt="{{project.keyword}}" ng-src="{{project.thumbIcon}}">
															</a>
															<!-- Modal -->
														  <div class="modal fade" id="{{project.keyword}}" role="dialog">
														    <div class="modal-dialog">
														      <!-- Modal content-->
														      <div class="modal-content">
														        <div class="modal-header">
														          <button type="button" class="close" data-dismiss="modal">&times;</button>
														          <h4 class="modal-title">{{project.name}}</h4>
														        </div>
														        <div class="modal-body">
														          <p>
																				<img alt="{{project.keyword}}" ng-src="{{project.largeIcon}}" style="    max-height: 300px;">
														          </p>
														          <br>
														           <p ng-bind-html="project.desc"></p>
														          <br>
																			<p>
																				<strong>{{project.org}}</strong><br>
																				{{project.shortRole}}
																				<br>
																				<br>
																				<strong>Role and responsibility:</strong>
																				<br>
																				<ul><li ng-repeat="rr in project.roles">{{rr}}</li></ul>
  														          <br>
  														          <strong>Challenges and Learning:</strong>
																				<br>
																				<ul><li ng-repeat="lrn in project.learnings">{{lrn}}</li></ul>
														          </p>
														          <br>
														          <div class="row">
														          	<div class="col-md-4" ng-repeat="url in project.urls">
														          		<a href="{{url.link}}" target="blank" class="btn btn-primary">{{url.title}}</a>
														          	</div>
														          </div>
														        </div>
														        <div class="modal-footer">
														          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														        </div>
														      </div>
														      
														    </div>
														  </div>
														</div>
														<!--End item-->	
													</li>
												</ul>
											</div>
											<!--End row-->
		                </div>
										<!--End works-->
										<div class="clearfix"></div>
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
								
								<!--Button-->
								<div class="button ofsInTop tCenter clearfix">
									<div class="divider"></div>
									<!--Row-->	
									<div class="row ">
										<div class="col-md-12">
												<a class="but opc-1 ico" href="resume/Hitesh-Songra-2016-resume.pdf" download>Download my cv</a>
										</div>
									</div>
									<!--End row-->
		            </div>
								<!--End button-->
							</div>
							<!--End portfolio-->
						</section>
						<!--End portfolio tab-->
										
						<!--Gallary Tab-->
						<section id="gallary" class="bgWhite ofsInBottom">
							<!--Blog -->
							<div class="blog">
								<!--Main title-->
								<div class="main-title">
									<h1>photo gallary </h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->

								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content ">
										<!--Works-->
										<div class="works">
											<!--Row-->	
											<div class="row">
												<ul class="work" ng-controller="gallaryCtlr">
													<li class="col-md-4" ng-repeat="img in gallary">
														<!--Item-->	
														<div class="item web">
															<a href="#" data-toggle="modal" data-target="#{{img.alt_text}}">
																<div class="desc">
																	<div ng-model="gallary"></div>
																	<h3 class="proj-desc">{{img.title}}
																	<br><br><span>{{img.place}}</span></h3>
																</div>
																<img ng-src="img/gallary/{{img.img_name}}" alt="{{img.alt_text}}">
															</a>

															<!-- Modal -->
														  <div class="modal fade" id="{{img.alt_text}}" role="dialog">
														    <div class="modal-dialog">
														      <!-- Modal content-->
														      <div class="modal-content">
														        <div class="modal-header">
														          <button type="button" class="close" data-dismiss="modal">&times;</button>
														          <h4 class="modal-title">{{img.title}} - {{img.place}}</h4>
														        </div>
														        <div class="modal-body">
														          <p>
																				<img ng-src="img/gallary/{{img.img_name}}" alt="{{img.alt_text}}">
														          </p>
														        </div>
														        <div class="modal-footer">
														          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														        </div>
														      </div>
														    </div>
														  </div>
														
														</div>
														<!--End item-->	
													</li>

												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End of content -->

								<!--Button-->
								<div class="button ofsInTop tCenter">
									<div class="divider"></div>
	                <!--Row-->	
									<div class="row ">
										<div class="col-md-12">
												<a class="but opc-1 ico" href="resume/Hitesh-Songra-2016-resume.pdf" download>Download my cv</a>
										</div>
									</div>
									<!--End row-->
		            </div>
								<!--End button-->
							</div>
							<!--End blog-->
						</section>
						<!--End Gallary tab-->
						
						<section  id="reward" class="bgWhite ofsInBottom">
							<!-- Reward Tab -->
							<div class="reward">
								<!--Main title-->
								<div class="main-title">
									<h1>Honors & Awards</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->
							
								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content ">
										<!--Works-->
										<div class="works">
											<!--Row-->	
											<div class="row">
												<ul class="work" ng-controller="rewardCtlr">
													<li class="col-md-4" ng-repeat="reward in rewards">
														<!--Item-->	
														<div class="item web">
															<a href="#" data-toggle="modal" data-target="#{{reward.alt_text}}">
																<div class="desc">
																	<div ng-model="gallary"></div>
																	<h3 class="proj-desc">{{reward.title}}
																	<br><br><span>{{reward.company}}</span></h3>
																</div>
																<img ng-src="{{reward.pic}}" alt="{{reward.alt_text}}">
															</a>

															<!-- Modal -->
														  <div class="modal fade" id="{{reward.alt_text}}" role="dialog">
														    <div class="modal-dialog">
														      <!-- Modal content-->
														      <div class="modal-content">
														        <div class="modal-header">
														          <button type="button" class="close" data-dismiss="modal">&times;</button>
														          <h4 class="modal-title">{{reward.title}} - {{reward.company}}</h4>							
														        </div>
														        <div class="modal-body">
														          <p>
																				<img ng-src="{{reward.pic}}" alt="{{reward.alt_text}}">
														          </p>
														          <br>
														          <p><strong>Designation:</strong> {{reward.designation}}</p>
														          <p><strong>Awarded at:</strong> {{reward.awarded_at}}</p>
														          <br>														          
														          <p ng-bind-html="reward.desc"></p>
														        </div>
														        <div class="modal-footer">
														          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														        </div>
														      </div>
														    </div>
														  </div>
														
														</div>
														<!--End item-->	
													</li>

												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End of content -->

								<!--Button-->
								<div class="button margTop ofsInTop tCenter">
									<div class="divider"></div>
			              <!--Row-->	
										<div class="row ">
											<div class="col-md-12">
												<a class="but opc-1 ico" href="resume/Hitesh-Songra-2016-resume.pdf" download>Download my cv</a>
											</div>
										</div>
										<!--End row-->
								</div>
								<!--End button-->
							</div>
							<!-- End of reward tab -->
						</section>


						<!--Contact Tab-->
						<section id="contact" class="bgWhite ofsInBottom">
							<!--Contact -->
							<div class="contact">
								<!--Main title-->
								<div class="main-title">
									<h1>map location</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->

								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content ">
										<!--Map-->
										<div class="block-map">
											<!--Row-->
											<div class="row">
												<div class="col-md-12">
													<img src="http://maps.google.com/maps/api/staticmap?size=800x300&sensor=false&zoom=8&markers=23.0198617%2C72.5224524" >
												</div>
											</div>
											<!--End row-->
				            </div>
										<!--End map-->
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
											
								<!--Main title-->
								<div class="main-title">
									<h1>contact info</h1>
									<div class="divider"></div>
								</div>	
								<!--End main title-->
												
								<!--Content-->	
								<div class="content">
									<!--Block content-->	
									<div class="block-content ">
										<!--Info-->
										<div class="block-info">
											<!--Row-->
											<div class="row">
												<div class="col-md-12">
													<div class="info-holder   margTMedium">
														<!--Address info-->	
														<div class="address-info">
															<i class="icon-location"></i>
															<p>Ahmedabad <br>Gujarat,India 380015.</p>
														</div>
														<!--End address info-->
														
														<!--Contact info-->
														<div class="contact-info tCenter">
															<ul>
																<li><div class="ico"><i class="icon-mail"></i></div>
																<p>Email : hgsongra@gmail.com </p></li>
																<li><div class="ico"><i class="icon-phone"></i></div>
																<p>Tel : +91-9033231399</p></li>
																<li><div class="ico"><i class="icon-link"></i></div>
																	<p>WebSite : <a href="#">hgsongra.github.io</a></p></li>
															</ul>
														</div>
														<!--End contact info-->	
													</div>
												</div>
											</div>
											<!--End row-->
			              </div>
										<!--End info-->
									</div>
									<!--End block content-->
								</div>
								<!--End content-->
								
								<!--Button-->
								<div class="button ofsInTop tCenter">
									<!--Row-->	
									<div class="row ">
										<div class="col-md-12">
											<a class="but opc-1 ico" href="resume/Hitesh-Songra-2016-resume.pdf" download>Download my cv</a>
										</div>
									</div>
									<!--End row-->
		            </div>
								<!--End button-->
							</div>
							<!--End contact-->
						</section>
					  <!--End contact tab-->
					</div>
					<!--End right content-->
				</div>
				<!--End  row-->
			</div>
			<!--End  container-->
		</div>
		<!--End wrapper-->

		<!--Javascript-->	
		<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="js/jquery-migrate-1.2.1.js" type="text/javascript"></script>			
		<script src="js/owl.carousel.js" type="text/javascript"></script>
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<script src="js/jquery.easytabs.min.js" type="text/javascript"></script>
		<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
		<script src="js/modernizr.js" type="text/javascript"></script>
		<script src="js/placeholders.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/Switcher/switcher.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/roundProgress.min.js"></script>
		<script src="js/angular-sanitize.js"></script>

		<script src="js/database.js" type="text/javascript"></script>
		<script src="js/script.js" type="text/javascript"></script>
		

		<script>
			(function($) {
			  "use strict";

				$(document).ready(function(){
					$('#wrapper').easytabs({
						animate			: true,
						updateHash		: false,
						transitionIn	:'fadeIn',
						transitionOut	:'fadeOut',
						animationSpeed	:100,
						tabActiveClass	:'active',
						tabs            :' #main-nav.tabbed > ul > li ',
						transitionInEasing: 'linear',
				  	transitionOutEasing: 'linear'	
					});
				});

			})(jQuery);

		</script>

  </body>
</html>
